<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label>recive Name</label><br>
      <input type="text" name="" id="" (input)="onChangeName($event.target.value)" class="form-control">
    </div>
    <div class="col">
      <label for="">Name</label><br>
      <h4> {{nameInput | titlecase}}</h4>
    </div>
  </div>
  <!-- datepiker -->
  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label><br>
      <input type="date" name="" id="" (input)="onChangeDate($event.target.value)" class="form-control">
    </div>
    <div class="col">
      <label>Payment Date</label><br>
      <h4>{{dateInput| date:'EEEE, MMMM d, y'}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Amount</label><br>
      <input type="number" name="" id="" (input)="onAmountChange($event.target.value)" class="form-control">
    </div>
    <div class="col">
      <label>Amount</label><br>
      <h4>{{amountInput | currency:'IR'}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Height</label><br>
      <input type="number" name="" id="" (input)="onHeightChange($event.target.value)" class="form-control">
    </div>
    <div class="col">
      <label>Height</label><br>
      <h4>{{heightInput | number : "3.2-4"}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Mile</label><br>
      <input type="number" name="" id="" (input)="onMileChange($event.target.value)" class="form-control">
    </div>
    <div class="col">
      <label>KM</label><br>
      <h4>{{mile | convert:'KM' }}</h4>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Mile</label><br>
      <input type="number" name="" id="" (input)="onMileChangemeter($event.target.value)" class="form-control">
    </div>
    <div class="col">
      <label>M</label><br>
      <h4>{{meter | convert:'m' }}</h4>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Mile</label><br>
      <input type="number" name="" id="" (input)="onMileChangecmeter($event.target.value)" class="form-control">
    </div>
    <div class="col">
      <label>CM</label><br>
      <h4>{{cmmeter | convert:'cm' }}</h4>
    </div>
  </div>
</div>
